@font-face {
    font-family: "neon";
    src: url("./font/NeonSans.ttf") format("truetype");
}

.HomeMain {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    height: 86vh;
    text-align: center;
    padding-bottom: 7vh;
    flex-direction: row;
    align-items: center;
}

.GMElement {
    font-family: neon;
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
    width: 17%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    box-shadow: rgb(207 29 61 / 30%) 0px 54px 55px, rgb(230 33 67 / 24%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
}


.GMElement:hover, .gamemodeList:hover, .comingSoonMode:hover {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}

.GMBody {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
}


.GMBody::-webkit-scrollbar-thumb {
background-color: wheat;
border-radius: 50px;
}

.GMBody::-webkit-scrollbar {
/* display: none; */
background-color: rgb(128 128 128 / 42%);
border-radius: 50px;
width: 5px;
}

.gamemodeList:not(hover) {
    text-shadow: none;
}

.rules {
    text-shadow: none;
}

.comingSoonMode:not(hover) {
    text-shadow: none;
}

p.GMTitle {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-color: rgb(251 76 103);
}

.gamemodeList {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-right: 2px solid;
    border-color: rgb(251 76 103);
    cursor:pointer;
}

nav.menuGamemode {
    position: relative;
    display: flex;
    overflow: hidden;
    transform: translateX(-68%);
    left: 68%;
    font-family: Arial, Helvetica, sans-serif;
}

.menuGamemode {
    display:flex;
    margin-top: -1vh;
    z-index: 1000;
    border-radius: var(--cornerRad);
    background-color: rgb(0 0 0 / 25%);
    border-radius: 15px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
    flex-direction: column;
}

.gamemodeBorder {
    border-bottom: 2px solid rgb(255 255 255 / 76%);
}

.MainElement {
    width: 40%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 15px;
    box-shadow: rgb(0 0 0) 0px 30px 60px -12px inset, rgb(0 0 0) 0px 18px 36px -18px inset;
}

.FriendElement {
    font-family: neon;
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
    width: 17%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    box-shadow: rgb(12 73 181 / 54%) 0px 54px 55px, rgb(5 72 177 / 38%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
}

.FriendElement:hover, .FriendList:hover{
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}

.FriendList:not(hover) {
    text-shadow: none;
}

input.MainSendMessage {
    position: absolute;
    bottom: 1em;
    background-color: rgba(0,0,0, 0.3);
    left: 2.5%;
    height: 2em;
    border-radius: 10px;
    border-color: white;
    color: white;
    width: 90%;
    margin-top: 20px;
    padding-left: 10px;
}

p.FriendTitle {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-color: rgb(3 83 209);
}

.FriendList {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-right: 2px solid;
    border-color: rgb(3 83 209);
    cursor:pointer;
}

.friendBtn {
    cursor: pointer;
    padding: 12px;
    border: 0;
    background: transparent;
    font-size: inherit;
    margin: 0 16px;
    color: aliceblue;
    border-bottom: 2px solid rgb(255 255 255 / 76%);
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.friendBtn:nth-last-of-type(1) {
    border-bottom: none;
  }

.friendBtn:hover {
    filter: brightness(120%);
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

.friendBtn:hover {
    color: #000000;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }

.friendBtn span {
    position: absolute;
    display: block;
  }

.friendBtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
  }
  
.friendBtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  
  
.friendBtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
  }
  
.friendBtn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  
.friendBtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
  }
  
.friendBtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
    
.friendBtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
  }
  
.friendBtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }

.friendBtnOut {
    cursor: pointer;
    padding: 12px;
    border: 0;
    background: transparent;
    font-size: inherit;
    margin: 0 16px;
    display: flex;
    color: aliceblue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    transition: 0.2s;
    justify-content: space-around;
  }

.friendBorder {
    border-bottom: 2px solid rgb(255 255 255 / 76%);
}

.friendBtnOut:hover {
    color: #000000;
    background: #cf1a3a;
    box-shadow: 0 0 10px #cf1a3a, 0 0 40px #cf1a3a, 0 0 80px #cf1a3a;
    transition-delay: 1s;
  }
  
.friendBtnOut span {
    position: absolute;
    display: block;
  }
  
.friendBtnOut span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cf1a3a);
  }
  
.friendBtnOut:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  
.friendBtnOut span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cf1a3a);
  }
  
.friendBtnOut:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  
.friendBtnOut span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cf1a3a);
  }
  
.friendBtnOut:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  
.friendBtnOut span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cf1a3a);
  }
  
.friendBtnOut:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }

nav.menuFriendList {
    position: relative;
    display: flex;
    transform: translateX(-68%);
    overflow: hidden;
    left: 68%;
}

.menuFriendList {
    display:flex;
    margin-top: -1vh;
    z-index: 1000;
    border-radius: var(--cornerRad);
    background-color: rgb(0 0 0 / 25%);
    border-radius: 15px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
    flex-direction: column;
}

.allFriendList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
    
}

.allFriendList::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 50px;
}

.allFriendList::-webkit-scrollbar {
    /* display: none; */
    background-color: rgb(128 128 128 / 42%);
    border-radius: 50px;
    width: 5px;
}

.gradientRight {
    position: absolute;
    top: 50px;
    height: 2px;
    width: 100vw;
    background: linear-gradient(to right, #cd1b3e, black, #034cc2);
}

.Message.Container {
    width: -webkit-fill-available;
    display: flex;
    height: 80%;
    flex-direction: column;
    border-top: 2px solid wheat;
    overflow-y: scroll;
}

.Message.Container::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 50px;
}
.Message.Container::-webkit-scrollbar {
    /* display: none; */
    background-color: rgb(128 128 128 / 42%);
    border-radius: 50px;
    width: 5px;
}

.Channel.List {
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 87%;
}

.Channel.List::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 50px;
}
.Channel.List::-webkit-scrollbar {
    /* display: none; */
    background-color: rgb(128 128 128 / 42%);
    border-radius: 50px;
    height: 5px;
}

#gamemodeMini {
    display:none;
}

@media screen and (orientation: portrait) {


    #OpenGamemode {
        position: sticky;
        bottom: 0;
        background-color: #454545;
        height: 50px;
        width: 100%;
        display: flex;
        border-radius: 10px 10px 0 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #gamemodeMini {
        display: flex;
        position: absolute;
        transform: rotate(90deg);
        left: -23.4vw;
        bottom: 50vh;
        height: 50px;
        width: 50vh;
        border-radius: 10px 10px 0 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }

    .GMBody {
        display:none;
    }

    .GMTitle {
        display:none;
    }

}