@font-face {
  font-family: "neon";
  src: url("../home/font/NeonSans.ttf") format("truetype");
}

body {
    margin: 0px;
    font-family: "Vibur", sans-serif;
    overflow:hidden;
}

.navBar {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  place-content: space-between;
}

.navBtn {
  background-color: transparent;
  border: 0px;
  height: inherit;
  width: 5rem;
  color: aqua;
  cursor: pointer;
}

.neonTextOn {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }

  20%, 24%, 55% {
    text-shadow: none;
  }
}

.neonTextOff {
  color: #fff;
}

h1 {
  font-family: neon;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

/*.navProfile {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #0fa, 0 0 42px #0fa;
}*/

input.searchBar {
  border-radius: 15px;
  padding-left: 10px;
  height: 1.5rem;
  border: 0px;
  margin-left: 20px;
}

.prof-search {
  display: flex;
  height: 50px;
  width: 5rem;
  align-items: center;
  place-content: flex-end;
  z-index: 2;
}


:root {
  --primColor: rgba(255, 255, 255, 0.2);
  --secoColor: #555555;
  --cornerRad: 4px;
}

body {
  background-color: var(--primColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

details {
  margin: 10px;
}

.summaryProfile {
  text-align: center;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #0fa, 0 0 42px #0fa;
  cursor: pointer;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}

.summaryProfile::before,
.summaryProfile::after {
  position: static;
  top: 0;
  left: 0;
}

.summaryProfile:hover {
  transform: scale(1.1);
}

.summaryProfile::marker {
  font-size: 0;
}

.summaryProfile::-webkit-details-marker {
  display: none;
}

details[open] .menu {
  animation-name: menuAnim;
}

.menu {
  border-radius: var(--cornerRad);
  background-color: rgb(0 0 0 / 78%);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
}

.menu .menuBtn {
  cursor: pointer;
  padding: 12px;
  border: 0;
  background: transparent;
  font-size: inherit;
  margin: 0 16px;
  color: aliceblue;
  border-bottom: 2px solid rgb(255 255 255 / 76%);
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuBtnOut {
  cursor: pointer;
  padding: 12px;
  border: 0;
  background: transparent;
  font-size: inherit;
  margin: 0 16px;
  display: flex;
  color: aliceblue;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  overflow: hidden;
  justify-content: space-around;
}

.menu .menuBtn:nth-last-of-type(1) {
  border-bottom: none;
}

.menu .menuBtn:hover {
  filter: brightness(120%);
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}

.menuBtn:hover {
  color: #000000;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.menuBtn span {
  position: absolute;
  display: block;
}

.menuBtnOut:hover {
  color: #000000;
  background: #cf1a3a;
  box-shadow: 0 0 10px #cf1a3a, 0 0 40px #cf1a3a, 0 0 80px #cf1a3a;
  transition-delay: 1s;
}


.menuBtnOut span {
  position: absolute;
  display: block;
}




.menuBtnOut span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #cf1a3a);
}



.menuBtnOut:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


.menuBtnOut span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #cf1a3a);
}

.menuBtnOut:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



.menuBtnOut span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #cf1a3a);
}

.menuBtnOut:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}



.menuBtnOut span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #cf1a3a);
}

.menuBtnOut:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}




.menuBtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}



.menuBtn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


.menuBtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.menuBtn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



.menuBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.menuBtn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}



.menuBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.menuBtn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@keyframes menuAnim {
  0% {
    height: 0;
  }

  100% {
    height: 187.2px;
  }
}

@keyframes fadeMe {
  0% {
    height: 187.2px;
  }

  100% {
    height: 0;
  }
}


nav.menu {
  position: absolute;
  transform: translateX(-68%);
  right: -54px;
}

.Notification {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff0000b0;
  border-radius: 50%;
  top: 5px;
  z-index: 2;
  right: 10px;
}


.searching.list {
  padding-top: 15px;
  position: absolute;
  background-color: #929292c2;
  width: 155px;
  height: fit-content;
  max-height: 200px;
  top: 19px;
  right: 59px;
  z-index: 1;
  text-align: center;
  border-radius: 10px;
  border: 2px solid;
}

div.Nick.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 35px;
  justify-content: center;
  cursor: pointer;
}

.User.list {
  font-weight: normal;
  color: #3a3a3a;
  font-size: 0.8em;
  margin-left: 10px;
}

.list .Nick.list:hover {
  background-color: rgba(0, 0, 0, 0.4);
  filter: brightness(200%);
  border-radius: 3px;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
}