.AlertsELement {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    height: 86vh;
    text-align: center;
    padding-bottom: 7vh;
    flex-direction: row;
    align-items: center;
}

.no.alerts {
    font-family: 'neon';
    font-size: 4vw;
    top: 30%;
    position: relative;
}

.AlertsMain {
    width: 70%;
    position: relative;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: rgb(0 0 0) 0px 30px 60px -12px inset, rgb(0 0 0) 0px 18px 36px -18px inset;
    overflow-y: scroll;
}

.AlertsMain::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 50px;
}

.AlertsMain::-webkit-scrollbar {
    /* display: none; */
    background-color: rgb(128 128 128 / 42%);
    border-radius: 50px;
    width: 5px;
}

.Friend.Request.Pending {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img.FriendRequestImg {
    height: 7vw;
    width: 7vw;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.NameImg.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'neon';
}

p.Name.Request {
    margin: 0;
    margin-left: 15px;
}

.Friend.Request.Pending {
    margin-top: 20px;
}


p.AcceptBtn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}



p.AcceptBtn:hover {
    color: #000000;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}


p.AcceptBtn span {
    position: absolute;
    display: block;
}




p.AcceptBtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



p.AcceptBtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


p.AcceptBtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

p.AcceptBtn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



p.AcceptBtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

p.AcceptBtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



p.AcceptBtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

p.AcceptBtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

p.DeclineBtn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #cf1a3a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}


p.DeclineBtn:hover {
    color: #000000;
    background: #cf1a3a;
    box-shadow: 0 0 10px #cf1a3a, 0 0 40px #cf1a3a, 0 0 80px #cf1a3a;
    transition-delay: 1s;
}


p.DeclineBtn span {
    position: absolute;
    display: block;
}




p.DeclineBtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cf1a3a);
}



p.DeclineBtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


p.DeclineBtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cf1a3a);
}

p.DeclineBtn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



p.DeclineBtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cf1a3a);
}

p.DeclineBtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



p.DeclineBtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cf1a3a);
}

p.DeclineBtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
