body {
  background: url(./Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.neonTextNF {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

/* Additional styling */
  
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}  

h1.neonTextNF, h2.neonTextNF {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
  
h1.neonTextNF {
    font-size: 9rem;
}
  
h2.neonTextNF {
    font-size: 1.8rem;
}

.notFound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

button.neonTextNF {
  background: transparent;
  border: 0;
  font-family: 'neon';
  font-size: 2em;
  padding-top: 17vh;
  cursor: pointer;
}