.duelElement {
    font-family: sans-serif;
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
    width: 17%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    font-size: min(2vw, 24px);
    box-shadow: rgb(12 73 181 / 54%) 0px 54px 55px, rgb(5 72 177 / 38%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
}

.duelElement:hover > .duelTitle {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}

.neonTextOff {
  color: #fff;
}

.playBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height:5vw;
    width:5vw;
    margin-bottom: auto;
    background:transparent;
    border:transparent;
    color: aliceblue;
    transition: all .2s ease-in-out;
}

.playBtn:hover {
    transform: scale(2);
    cursor: pointer;
}

.prof-duelSearch {
    display: flex;
    flex-direction: column;
    place-content: flex-end;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }


input.duelSearchBar {
    border-radius: 15px;
    padding-left: 10px;
    height: 1.5rem;
    border: 0px;
    max-width: 200px;
    width: 15vw;
  }

  
.duelSearching.list {
    background-color: #929292c2;
    height: fit-content;
    max-height: 200px;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    
  }

  
  div.duelNick.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 35px;
    justify-content: center;
    cursor: pointer;
    font-family: "Vibur", sans-serif;
    color: black;
  }
  
  .duelUser.list {
    font-weight: normal;
    color: #3a3a3a;
    font-size: 0.8em;
    margin-left: 10px;
  }
  
  .duelList .duelNick.list:hover {
    background-color: rgba(0, 0, 0, 0.4);
    filter: brightness(200%);
    border-radius: 3px;
  }
  
  .duelPopUp {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 35%;
    bottom: 35%;
    margin: auto;
    background: rgba(0, 0, 0);
    border-radius: 25px;
    overflow: hidden;
  }

  .duelPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background: transparent;
    backdrop-filter: blur(4px);
  }

  .duelBox {
    position: fixed;
    width: 40vw;
    left: 30vw;
    right: 30vw;
    top: 55vh;
    bottom: 36vh;
    background: rgba(255,255,255,0.2);
    padding-top: 3vh;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button-duelBox {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border: 2px solid linear-gradient(0.25turn, rgb(207 29 61 / 30%), rgb(12 73 181 / 54%));;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button-box:hover {
    background: linear-gradient(0.25turn, rgb(207 29 61 / 30%), rgb(12 73 181 / 54%));
  }

/*       ANIMATION Cancel       */

.cancel-container{
  position: relative;
  margin-left: 15vw;
  margin-top: 9vh; 
}

span.cancel-cross {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -15%;
  cursor: pointer; 
  margin-left: 12.5px;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label.cancel{
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
  overflow: hidden;
}

.cancel{
  margin: 60px 0 0 0px;
  position: absolute;
  left: 0;
  margin-left: -12.5px;
}

span.cancel-cross:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
span.cancel-cross:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
span.cancel-cross:hover label.cancel{
  opacity: 1;
}



/*       ANIMATION Waiting       */

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 45%;
  width: 9%;
  height: 10%;
  border-radius: 90%;
  background: aliceblue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 50%;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 50%;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 70%;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 90%;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (orientation: portrait) {

  .duelElement {
    font-family: sans-serif;
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
    width: 70vw;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    
    box-shadow: rgb(12 73 181 / 54%) 0px 54px 55px, rgb(5 72 177 / 38%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
}

}