.normalElement {
    font-family: sans-serif;
    /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
    width: 17vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    font-size: min(2vw, 24px);
    box-shadow: rgb(207 29 61 / 30%) 0px 54px 55px, rgb(230 33 67 / 24%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
}

.playBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height:5vw;
    width:5vw;
    margin-bottom: auto;
    background:transparent;
    border:transparent;
    color: aliceblue;
    transition: all .2s ease-in-out;
}

.playBtn:hover {
    transform: scale(2);
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    .normalElement {
        font-family: sans-serif;
        /* text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa; */
        width: 70vw;
        height: 25vh;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 15px;
        display:flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: rgb(207 29 61 / 30%) 0px 54px 55px, rgb(230 33 67 / 24%) 0px -12px 30px, rgb(0 0 0 / 50%) 0px 4px 6px, rgb(0 0 0 / 50%) 0px 12px 13px, rgb(0 0 0 / 50%) 0px -3px 5px;
    }
  
}